!!!
%html
  %head
    %title TheRoot42.org
    = stylesheet_link_tag    :application, media: :all
    = javascript_include_tag :application
    = csrf_meta_tags
  %body{data: {user_id: @current_user_id}}
    %hgroup
      %h1
        %a{href: root_path} TheRoot42.org
      %ul
        %li
          %a{href: '/'} Messages
        %li
          %a{href: '/'} Invites
        %li
          %a{href: '/'} Search
        %li
          %a{href: members_path} Members
        %li
          %a{href: '/'} Donate
        %li
          %a{href: '/'} About
        %li
          %a{href: edit_user_registration_path} Settings
        %li
          %a{href: destroy_user_session_path, rel: 'nofollow', data: {method: 'delete'}} Log Out


    #container
      %nav
        - tag_cloud Tag.tag_counts(10).sort_by(&:count), %w[s m l] do |tag, css_class|
          %a{ href: t_path(tag.name.parameterize), class: css_class}
            = tag.name
            %span= time_ago_in_words(Comment.most_recent_tagged_as(tag))
        %a{ href: new_thread_path } New Thread
      #content
        = render_flash
        = yield